<!DOCTYPE html>
<!-- This website template was created by: Ethan Pursley 5/1/20 -->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/finalstyles.css">
	<title>Dallas Cowboys</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div id="container"> 


<header>

<h1>Dallas Cowboys
</header>

<div id="banner">

<a href="index.html"><img src="images/logo.jpg" alt="Dallas Cowboys Logo"></a>

<div>

<img src="images/tom.jpg" alt="Tom" class="desktop">

<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About Me</a></li>
			<li><a href="stadium.html">Stadium</a> </li>
			<li><a href="history.html">History</a></li>
			<li><a href="legends.html">Players</a></li>
		</ul>
	</nav>